* {
    font-family:HelveticaNeue-bold;
    font-style: italic;
    text-decoration: none;
    font-weight: 700;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-image: url(../images/bg.png);
}

header {
    z-index: 2;
    position: relative;
}

main {
    z-index: 2;
    position: relative;
}

.logo {
    display: block;
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 120px;
    text-align: center;
}

.info_btn {
    display: block;
    margin: 0 0 0 auto;
    padding: 20px;
}

.welcome_message {
    padding: 30px 0px;
    text-align: center;
}

h2 {
    font-size: 60px;
}

.welcome_message p {
    font-size: 30px;
}

.mentor_list {
    position: relative;
    display: flex;
    margin-bottom: 100px;
}


.sidebar {
    /* width: 20%; */
    position: absolute;
    
}

li .icon {
    background-position: center;
}

.mentor_sec {
    width: 80%;
    margin: 0 auto
}
.sec_title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
    background-image: url(../images/sec_title_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #fff;
}

.mentor_cotainer {
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
}

.mentor_box {
    text-align: center;
    width: 150px;
    margin: 15px;
    padding: 10px;
    transition: all 0.6s ease 0s;
}

.mentor_box:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.mentor_img {
    border-radius: 50%;
    width: 100%;
}

.mentor_name {
    color: black;
}

/*モーダル機能*/

.modal_mentorbox {
    display: flex;
}
.modal_right {
    text-align: left;
    width: 50%;
}

.modal_left {
    text-align: left;
    width: 50%;
}

.modal_mentor_img {
    width: 80%;
}
.course_skill_list {
    display: flex;
}

footer {
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: black;
    color:#fff;
    bottom: 0;
    text-align: center;
}

.particle_container {
    width: 100%;
    z-index: 1;
}

.particle {
    position: absolute;
}

.particle img {
    width: 30%;
}

/*フィルター機能*/

#filterBtnList {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    list-style-type: none;
    /* margin: 20px 70px; */
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 300px;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 0 8px gray;
    left: 20px;
}

/* #filterBtnList li {

} */

.fixed-top {
    position: fixed;
    top: 40px;
    left: 20px;
    z-index: 10;
}

.fixed-botom {
    position: absolute;
    bottom: 100;
    left: 20px;
    z-index: 10;
}

.all .icon {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: black;
    color: #fff;

}

.iPhone .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/iPhone.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Android .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/Android.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Unity .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/Unity.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.WebD .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/WebD.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.WebS .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/WebS.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.mediaart .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/mediaart.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.anime .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/anime.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.movie .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/movie.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.design .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/design.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.DTM .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/DTM.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.minecraft .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/minecraft.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.camera .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/camera.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.miku .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/miku.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Maya .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/Maya.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.LINE .icon {
    width: 40px;
    height: 40px;
    background-image: url(../images/course/LINE.png);
    background-size: contain;
    background-repeat: no-repeat;
}